@charset "UTF-8";
body {
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
  line-height: 1.5;
  font-size: 16px;
  color: #3e3e3e;
  background: #f3f3f3;
}

.section-ttl {
  font-family: "Montserrat", sans-serif;
  font-size: 36px;
  font-weight: 600;
}
@media (max-width: 767px) {
  .section-ttl {
    font-size: 30px;
    line-height: 1.3;
  }
}

.util-link {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 600;
  padding: 0.8em 0;
  border: 1px solid #707070;
  letter-spacing: 4px;
  display: inline-block;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: 314px;
  max-width: 100%;
  text-align: center;
}
@media (max-width: 767px) {
  .util-link {
    font-size: 18px;
    padding: 12px 0;
  }
}

.conversion-link {
  padding: 16px 50px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 10px;
  color: #fff;
  background: #ffaa3b;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.conversion-link:hover {
  background: #f18900;
}
@media (max-width: 767px) {
  .conversion-link {
    padding: 16px 32px;
    font-size: 16px;
  }
}

a {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

/* ===============================================
# header
=============================================== */
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 83px;
  font-size: 16px;
  text-align: center;
  background: rgba(255, 255, 255, 0.1019607843);
  z-index: 1000;
}
@media (max-width: 767px) {
  header {
    height: 68px;
    background: #fff;
    opacity: 1;
  }
}

.header-menu {
  position: fixed;
  top: 28px;
  right: 16px;
  width: 26px;
  z-index: 150;
  -webkit-transition: right 250ms ease;
  transition: right 250ms ease;
  display: none;
}
@media (max-width: 767px) {
  .header-menu {
    display: block;
  }
}
.header-menu span {
  position: relative;
  display: block;
  height: 4px;
  border-radius: 7px;
  background: #3e3e3e;
  -webkit-transform-origin: center center;
          transform-origin: center center;
  z-index: 200;
}
.header-menu span:nth-of-type(1) {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}
.header-menu span:nth-of-type(3) {
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
}

#header-menu {
  display: none;
}
#header-menu:checked ~ .header-nav {
  right: 0px;
}
#header-menu:checked ~ .header-menu {
  right: 305px;
}
#header-menu:checked ~ .header-menu span {
  background: #fff;
}
#header-menu:checked ~ .header-menu span:nth-of-type(1) {
  -webkit-transform: translateY(2px) rotate(45deg);
          transform: translateY(2px) rotate(45deg);
}
#header-menu:checked ~ .header-menu span:nth-of-type(2) {
  display: none;
}
#header-menu:checked ~ .header-menu span:nth-of-type(3) {
  -webkit-transform: translateY(-2px) rotate(-45deg);
          transform: translateY(-2px) rotate(-45deg);
}
#header-menu:checked ~ .header-nav-background {
  display: block;
}

.header-ttl {
  font-family: "Montserrat", sans-serif;
  font-size: 23px;
  font-weight: 700;
  font-size: 23px;
  padding-left: 16px;
  line-height: 68px;
  text-align: left;
}
@media (min-width: 768px) {
  .header-ttl {
    display: none;
  }
}

.header-nav {
  z-index: 15;
}
@media (max-width: 767px) {
  .header-nav {
    position: fixed;
    top: 0;
    right: -330px;
    width: 300px;
    height: 100vh;
    text-align: center;
    background: #fff;
    -webkit-transition: right 250ms ease;
    transition: right 250ms ease;
  }
}

.header-nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 767px) {
  .header-nav-list {
    display: block;
    margin-top: 138px;
    font-size: 18px;
  }
}

@media (min-width: 768px) {
  .header-nav-item + .header-nav-item {
    margin-left: 38px;
  }
}

.header-nav-item-link {
  line-height: 83px;
  font-family: "Montserrat", sans-serif;
  position: relative;
}
@media (min-width: 768px) {
  .header-nav-item-link::after {
    content: "";
    position: absolute;
    bottom: -8px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 100%;
    height: 2px;
    background: transparent;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header-nav-item-link.is-active::after, .header-nav-item-link:hover::after {
    background: #3e3e3e;
  }
}
@media (max-width: 767px) {
  .header-nav-item-link {
    line-height: 55px;
    color: #3e3e3e;
    display: block;
    height: inherit;
  }
  .header-nav-item-link.is-active, .header-nav-item-link:hover {
    opacity: 0.6;
  }
}

.header-nav-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 14;
  display: none;
}

/* ===============================================
# top
=============================================== */
.top {
  height: 648px;
  background: url(../img/mv.png) center center/cover;
  position: relative;
  padding: 0 40px;
}
@media (max-width: 767px) {
  .top {
    height: 667px;
    padding: 0 16px;
    background: url(../img/mv.png) left -210px center/cover;
  }
}

.top-inner {
  max-width: 1200px;
  margin: auto;
}

.top-content {
  text-align: left;
  padding-top: 229px;
  letter-spacing: 0.45px;
}
@media (min-width: 768px) {
  .top-content {
    width: 600px;
    margin-left: auto;
  }
}
@media (max-width: 767px) {
  .top-content {
    padding-top: 230px;
  }
}

.top-ttl {
  font-size: 32px;
  font-weight: 700;
}
@media (max-width: 767px) {
  .top-ttl {
    font-size: 24px;
  }
}

.top-text {
  font-size: 18px;
  font-weight: bold;
  margin-top: 29px;
}
@media (max-width: 767px) {
  .top-text {
    margin-top: 20px;
    font-size: 14px;
    letter-spacing: 0px;
  }
}

.top-btn {
  margin-top: 50px;
}
@media (max-width: 767px) {
  .top-btn {
    text-align: center;
    margin-top: 37px;
  }
}

/* ===============================================
# news
=============================================== */
.news {
  padding: 0 40px;
}
@media (max-width: 767px) {
  .news {
    padding: 0 16px;
  }
}

.news-container {
  max-width: 1200px;
  background: #fff;
  -webkit-box-shadow: 0px 5px 12px rgba(62, 62, 62, 0.2);
          box-shadow: 0px 5px 12px rgba(62, 62, 62, 0.2);
  margin: auto;
  margin-top: 120px;
  padding: 60px 0 40px;
}
@media (max-width: 767px) {
  .news-container {
    margin-top: -40px;
    padding-top: 40px;
    position: relative;
    z-index: 10;
  }
}

.news-ttl {
  text-align: center;
}

.news-list {
  border-top: 1px solid #cecdcd;
  margin: 48px 61px 42px 61px;
}
@media (max-width: 767px) {
  .news-list {
    margin: 40px 0;
  }
}

.news-item-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 38px 80px 38px 0;
  border-bottom: 1px solid #cecdcd;
  position: relative;
}
.news-item-link:hover {
  background: rgba(73, 115, 255, 0.1019607843);
}
@media (max-width: 767px) {
  .news-item-link {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 11px 55px 11px 16px;
  }
}
.news-item-link::after {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%) rotate(45deg);
          transform: translateY(-50%) rotate(45deg);
  right: 20px;
  width: 15px;
  height: 15px;
  border: 2px solid #3e3e3e;
  border-bottom: 0;
  border-left: 0;
}

.news-item-date {
  white-space: nowrap;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
}
@media (max-width: 767px) {
  .news-item-date {
    font-size: 14px;
  }
}

.news-item-ttl {
  white-space: nowrap;
  margin-left: 40px;
  padding: 3px 31px;
  border: 2px solid #3b69ff;
  font-size: 14px;
  border-radius: 50px;
}
@media (max-width: 767px) {
  .news-item-ttl {
    font-size: 12px;
    padding: 2px 16px;
    margin-left: 24px;
  }
}
@media (max-width: 767px) {
  .news-item-ttl {
    padding: 0 16px;
  }
}

.news-item-text {
  margin-left: 40px;
  font-size: 18px;
  letter-spacing: 0.5px;
  line-height: 1.6;
}
@media (max-width: 767px) {
  .news-item-text {
    font-size: 14px;
    margin-left: 0;
    margin-top: 3px;
    letter-spacing: 0.1px;
  }
}

.news-btn {
  text-align: center;
}

@media (max-width: 767px) {
  .news-link {
    max-width: 268px;
  }
}
.news-link:hover {
  background: #3e3e3e;
  color: #fff;
}

/* ===============================================
# service
=============================================== */
.service {
  background: linear-gradient(180deg, #3e3e3e 0px, #3e3e3e 400px, transparent 400px, transparent 100%);
  margin-top: 120px;
  padding: 60px 40px 0 40px;
}
@media (max-width: 767px) {
  .service {
    margin-top: 60px;
    padding: 40px 16px 0 16px;
    background: linear-gradient(180deg, #3e3e3e 0px, #3e3e3e 480px, transparent 480px, transparent 100%);
  }
}

.service-ttl {
  color: #fff;
  text-align: center;
}

.service-container {
  margin: auto;
  margin-top: 51px;
  background: #fff;
  max-width: 960px;
  -webkit-box-shadow: 0px 5px 12px rgba(62, 62, 62, 0.2);
          box-shadow: 0px 5px 12px rgba(62, 62, 62, 0.2);
}
@media (max-width: 767px) {
  .service-container {
    margin-top: 37px;
  }
}

.service-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 63px 0;
}
@media (max-width: 767px) {
  .service-items {
    display: block;
    padding: 0;
    padding-bottom: 42px;
  }
}

.service-item {
  text-align: center;
}
@media (min-width: 768px) {
  .service-item {
    margin: 0 45px;
  }
}
@media (max-width: 767px) {
  .service-item {
    padding: 46px 16px 0 16px;
  }
}

.service-item-img img {
  width: 50px;
  height: 50px;
}

.service-item-ttl {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 500;
  margin-top: 12px;
  letter-spacing: 4px;
  line-height: 1.3;
}

.service-item-text {
  margin-top: 10px;
  font-size: 14px;
  text-align: left;
  line-height: 1.7;
}

/* ===============================================
# result
=============================================== */
.results {
  margin-left: 40px;
  background: #3e3e3e;
  padding: 60px 0 60px 60px;
  margin-top: 120px;
}
@media (max-width: 767px) {
  .results {
    margin-top: 60px;
    padding: 40px 0;
    margin-left: 0;
  }
}

.results-ttl {
  color: #fff;
}
@media (max-width: 767px) {
  .results-ttl {
    text-align: center;
  }
}

.results-items {
  margin-top: 49px;
}
@media (max-width: 767px) {
  .results-items {
    padding-left: 16px;
    margin-top: 38px;
  }
}

.results-item {
  width: 400px;
  margin-right: 40px;
}
@media (max-width: 767px) {
  .results-item {
    width: 274px;
    margin-right: 20px;
  }
}

.results-item-img {
  width: 100%;
}
.results-item-img img {
  width: 100%;
}

.results-item-content {
  background: #fff;
  text-align: left;
  padding: 16px;
}
@media (max-width: 767px) {
  .results-item-content {
    padding: 12px;
  }
}

.results-item-ttl {
  font-size: 20px;
  font-weight: 700;
}
@media (max-width: 767px) {
  .results-item-ttl {
    font-size: 14px;
  }
}

.results-item-text {
  margin-top: 6px;
}
@media (max-width: 767px) {
  .results-item-text {
    font-size: 12px;
    margin-top: 2px;
    letter-spacing: 0.01px;
  }
}

.results-btn {
  text-align: left;
  margin: auto;
}
@media (max-width: 767px) {
  .results-btn {
    text-align: center;
    max-width: 316px;
  }
}
.results-btn a {
  border: 1px solid #fff;
  color: #fff;
}
.results-btn a:hover {
  border-color: #3e3e3e;
  background: #fff;
  color: #3e3e3e;
}

.slick-dots {
  text-align: left;
  position: initial;
  margin-top: 36px;
  margin-bottom: 36px;
}
@media (max-width: 767px) {
  .slick-dots {
    text-align: center;
    margin-top: 18px;
    margin-bottom: -7px;
  }
}
.slick-dots li {
  margin: 0 12px 0 0;
}
.slick-dots li button {
  position: relative;
}
.slick-dots li button::before {
  color: #fff;
  opacity: 1;
  font-size: 15px;
}

.slick-dots li.slick-active button:before {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 1;
  color: #fff;
  border: solid 1px #fff;
  border-radius: 50px;
}

/* ===============================================
# result
=============================================== */
.price {
  padding: 120px 40px;
  text-align: center;
}
@media (max-width: 767px) {
  .price {
    padding: 40px 16px 50px 16px;
  }
}

.price-container {
  margin: auto;
  margin-top: 51px;
  max-width: 960px;
}
@media (max-width: 767px) {
  .price-container {
    margin-top: 37px;
  }
}

.price-table {
  border-collapse: collapse;
}
.price-table tr {
  font-family: "Montserrat", sans-serif;
  height: 59px;
  line-height: 59px;
  font-size: 24px;
  font-weight: 600;
}
@media (max-width: 767px) {
  .price-table tr {
    font-size: 20px;
    height: 55px;
    line-height: 55px;
  }
}
.price-table th {
  width: 359px;
  background: #3e3e3e;
  color: #fff;
  text-align: center;
  border: 1px solid #707070;
}
.price-table td {
  width: 960px;
  text-align: left;
  padding-left: 40px;
  border: 1px solid #707070;
}
@media (max-width: 767px) {
  .price-table td {
    padding-left: 26px;
  }
}

.price-attention {
  text-align: left;
  font-size: 12px;
  margin-top: 8px;
}

/* ===============================================
# comments
=============================================== */
.comments {
  padding: 0 40px 120px;
  position: relative;
}
.comments::before {
  position: absolute;
  top: 148px;
  bottom: 0;
  left: 0;
  width: 76.56%;
  background: #3e3e3e;
  content: "";
}
@media (max-width: 767px) {
  .comments {
    padding: 0 16px 57px;
  }
  .comments::before {
    position: absolute;
    top: 60px;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #3e3e3e;
    content: "";
  }
}

.comments-inner {
  position: relative;
  z-index: 10;
  max-width: 1200px;
  margin: auto;
}
@media (min-width: 768px) {
  .comments-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.comments-container {
  background: #fff;
  padding: 118px 60px;
  text-align: left;
}
@media (min-width: 768px) {
  .comments-container {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 666px;
            flex: 0 1 666px;
  }
}
@media (max-width: 767px) {
  .comments-container {
    padding: 40px 20px;
  }
}

.comments-ttl {
  margin-bottom: 52px;
}
@media (max-width: 767px) {
  .comments-ttl {
    margin-bottom: 35px;
  }
}

.comments-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.comments-item + .comments-item {
  margin-top: 60px;
}
@media (max-width: 767px) {
  .comments-item + .comments-item {
    margin-top: 32px;
  }
}

.comments-item-img img {
  width: 100px;
  height: 100px;
}
@media (max-width: 767px) {
  .comments-item-img img {
    width: 60px;
    height: 60px;
  }
}

.comments-item-text {
  margin-left: 32px;
}
@media (max-width: 767px) {
  .comments-item-text {
    font-size: 14px;
    margin-left: 20px;
    line-height: 1.45;
  }
}

.comments-img {
  -ms-flex-negative: 1;
      flex-shrink: 1;
}
@media (max-width: 767px) {
  .comments-img {
    display: none;
  }
}
.comments-img img {
  width: 100%;
}

/* ===============================================
# qa
=============================================== */
.qa {
  background: url(../img/qa-bg.png) center center/cover;
  padding: 60px 40px 120px;
  background-attachment: fixed;
}
@media (max-width: 767px) {
  .qa {
    padding: 40px 16px 60px;
  }
}

.qa-ttl {
  color: #3e3e3e;
  text-align: center;
}

.qa-inner {
  max-width: 1200px;
  margin: auto;
}

.qa_items {
  max-width: 612px;
  margin-top: 50px;
}
@media (min-width: 768px) {
  .qa_items {
    margin-left: auto;
  }
}
@media (max-width: 767px) {
  .qa_items {
    margin: auto;
    margin-top: 40px;
  }
}

.qa_item {
  background: #fff;
  border-radius: 4px;
}
.qa_item:nth-child(n+2) {
  margin-top: 25px;
}

.qa_box_q {
  color: #3e3e3e;
  padding: 15px 56px;
  font-weight: 700;
  position: relative;
  letter-spacing: 0.5px;
}
.qa_box_q::before {
  content: "Q";
  background: #3b69ff;
  border-radius: 50px;
  width: 24px;
  height: 24px;
  text-align: center;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  position: absolute;
  left: 16px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.qa_box_icon {
  width: 17px;
  height: 17px;
  position: absolute;
  right: 16px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  cursor: pointer;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.qa_box_icon.is-open .qa_box_bar2 {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.qa_box_bar1 {
  position: absolute;
  width: 17px;
  height: 2px;
  background-color: #3b69ff;
  border-radius: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.qa_box_bar2 {
  position: absolute;
  height: 17px;
  width: 2px;
  background-color: #3b69ff;
  border-radius: 20px;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.qa_box_a {
  background: #fff;
  font-weight: 700;
  border-radius: 4px;
  padding: 0 16px 17px;
  display: none;
}
@media (max-width: 767px) {
  .qa_box_a {
    padding-bottom: 16px;
  }
}

.qa_box_content {
  background: rgba(59, 105, 255, 0.2);
  border-radius: 4px;
  padding: 12px 16px 12px 16px;
  font-weight: normal;
}
@media (max-width: 767px) {
  .qa_box_content {
    font-size: 14px;
    padding: 12px;
    line-height: 1.3;
  }
}

/* ===============================================
# access
=============================================== */
.access {
  padding: 120px 40px 0 100px;
}
@media (min-width: 768px) {
  .access {
    position: relative;
  }
  .access::before {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 140px;
    content: "";
    background: #3e3e3e;
    width: 76.56%;
  }
}
@media (max-width: 767px) {
  .access {
    padding: 40px 16px 60px;
    background: #3e3e3e;
  }
}

.access-inner {
  max-width: 1200px;
  margin: auto;
}
@media (min-width: 768px) {
  .access-inner {
    display: grid;
    grid-template-columns: 414px 1fr;
    grid-template-rows: auto 1fr;
    position: relative;
    z-index: 10;
  }
}

.access-content {
  color: #fff;
}
@media (min-width: 768px) {
  .access-content {
    grid-column: 1/2;
    grid-row: 1/2;
  }
}

.access-address {
  margin-top: 48px;
}
@media (max-width: 767px) {
  .access-address {
    margin-top: 33px;
    font-size: 14px;
  }
}

@media (min-width: 768px) {
  .access-map {
    grid-column: 2/3;
    grid-row: 1/3;
  }
}
@media (max-width: 767px) {
  .access-map {
    margin-top: 18px;
  }
}
.access-map iframe {
  width: 100%;
  height: 520px;
}
@media (max-width: 767px) {
  .access-map iframe {
    height: 240px;
  }
}

.access-btn {
  margin-top: 29px;
}
@media (min-width: 768px) {
  .access-btn {
    grid-column: 1/2;
    grid-row: 2/3;
  }
}
@media (max-width: 767px) {
  .access-btn {
    margin-top: 20px;
    text-align: center;
  }
}
.access-btn a {
  color: #fff;
  border: 1px solid #fff;
}
@media (max-width: 767px) {
  .access-btn a {
    width: 100%;
    letter-spacing: 1.5px;
  }
}
.access-btn a:hover {
  border-color: #3e3e3e;
  background: #fff;
  color: #3e3e3e;
}

/* ===============================================
# contact
=============================================== */
.contact {
  background: url(../img/contact-bg.png) center center/cover;
  padding: 60px 40px;
}
@media (min-width: 768px) {
  .contact {
    margin-top: 116px;
  }
}
@media (max-width: 767px) {
  .contact {
    padding: 40px 16px;
  }
}

.contact-container {
  max-width: 960px;
  margin: auto;
}

.contact-head {
  text-align: center;
  padding: 53px 0;
  background: url(../img/contact1.png) center center/cover;
  color: #fff;
  border-radius: 12px 12px 0px 0px;
}
@media (max-width: 767px) {
  .contact-head {
    padding: 37px 16px;
  }
}

.contact-head-text {
  margin-top: 9px;
}
@media (max-width: 767px) {
  .contact-head-text {
    margin-top: 8px;
    text-align: left;
    font-size: 14px;
  }
}

.contact-body {
  background: #fff;
  border-radius: 0px 0px 12px 12px;
}

.contact-form {
  padding: 60px 120px;
}
@media (max-width: 767px) {
  .contact-form {
    padding: 40px 12px;
  }
}

.contact-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 28px;
}
@media (max-width: 767px) {
  .contact-item {
    display: block;
  }
}

.contact-form-label {
  font-weight: bold;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 188px;
          flex: 0 0 188px;
}

.is-required {
  position: relative;
}
.is-required::after {
  content: "必須";
  color: #fff;
  background: #ff4646;
  padding: 2px 8px;
  position: absolute;
  right: -52px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border-radius: 2px;
  font-size: 12px;
}
@media (max-width: 767px) {
  .is-required::after {
    padding: 0 6px;
    letter-spacing: 1.3px;
    right: -59px;
  }
}

.contact-form-select {
  position: relative;
}
@media (max-width: 767px) {
  .contact-form-select {
    margin-top: 9px;
  }
}
.contact-form-select select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  opacity: 0.5;
  font-size: 16px;
}
@media (min-width: 768px) {
  .contact-form-select select {
    width: 180px;
    padding: 12px 40px 12px 12px;
  }
}
@media (max-width: 767px) {
  .contact-form-select select {
    width: 100%;
    padding: 10px;
    font-size: 14px;
  }
}
.contact-form-select select:hover, .contact-form-select select:focus {
  outline: none;
  -webkit-box-shadow: 0px 0px 5px rgba(73, 115, 255, 0.5019607843);
          box-shadow: 0px 0px 5px rgba(73, 115, 255, 0.5019607843);
  cursor: pointer;
}
.contact-form-select::after {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  border: 2px solid #3e3e3e;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  border-top: 0;
  border-left: 0;
  top: 14px;
  right: 12px;
}

.contact-form-input {
  width: 100%;
}
@media (max-width: 767px) {
  .contact-form-input {
    margin-top: 6px;
  }
}
.contact-form-input input[type=text], .contact-form-input input[type=email] {
  width: 100%;
  border: none;
  border-bottom: 1px solid #3e3e3e;
  padding: 8px 12px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  opacity: 0.5;
  font-size: 16px;
}
@media (max-width: 767px) {
  .contact-form-input input[type=text], .contact-form-input input[type=email] {
    padding: 0 0 3px 0;
    font-size: 14px;
  }
}
.contact-form-input input[type=text]:hover, .contact-form-input input[type=text]:focus, .contact-form-input input[type=email]:hover, .contact-form-input input[type=email]:focus {
  border-color: #4973ff;
  -webkit-box-shadow: 0px 5px 4px rgba(73, 115, 255, 0.5019607843);
          box-shadow: 0px 5px 4px rgba(73, 115, 255, 0.5019607843);
  outline: none;
}
.contact-form-input input[type=radio] {
  display: none;
}
.contact-radio {
  display: inline-block;
}
.contact-radio + .contact-radio {
  margin-left: 52px;
}

.contact-form-radio-label {
  padding-left: 20px;
  position: relative;
}
.contact-form-radio-label::before {
  content: "";
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  position: absolute;
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  border: 1px solid #3e3e3e;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  border-radius: 50%;
}
.contact-form-radio-label::after {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  position: absolute;
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  background: #3b69ff;
  border: 1px solid #3b69ff;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 3px;
  border-radius: 50%;
  opacity: 0;
  transition: all 0.3s ease 0s;
}
.contact-form-radio-label:hover::before {
  border-color: #4973ff;
  -webkit-box-shadow: 0 0 4px #4973ff;
          box-shadow: 0 0 4px #4973ff;
}
.contact-form-radio-label:active::before {
  background-color: rgba(73, 115, 255, 0.2);
  -webkit-box-shadow: none;
          box-shadow: none;
}

.contact-form-input input[type=radio]:checked + .contact-form-radio-label::after {
  opacity: 1;
}

.contact-message-item {
  display: block;
}
@media (max-width: 767px) {
  .contact-message-item {
    margin-bottom: 27px;
  }
}

.contact-form-textarea {
  width: 100%;
}
.contact-form-textarea textarea {
  width: 100%;
  height: 200px;
}
@media (max-width: 767px) {
  .contact-form-textarea textarea {
    margin-top: 12px;
    height: 157px;
  }
}
.contact-form-textarea textarea:hover, .contact-form-textarea textarea:focus {
  border-color: #4973ff;
  -webkit-box-shadow: 0px 0px 8px rgba(73, 115, 255, 0.5019607843);
          box-shadow: 0px 0px 8px rgba(73, 115, 255, 0.5019607843);
  outline: none;
}

.contact-check-label {
  padding-left: 40px;
  position: relative;
  font-weight: 700;
  font-size: 18px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
@media (max-width: 767px) {
  .contact-check-label {
    font-size: 16px;
    padding-left: 38px;
  }
}
.contact-check-label::before {
  content: "";
  width: 20px;
  height: 20px;
  border: 1px solid #3e3e3e;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.contact-check-label::after {
  content: "";
  width: 7px;
  height: 15px;
  position: absolute;
  top: -1px;
  left: 7px;
  border: 2px solid #3b69ff;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  border-top: 0;
  border-left: 0;
  opacity: 0;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.contact-check-label:hover::before {
  border-color: #4973ff;
  -webkit-box-shadow: 0 0 4px #4973ff;
          box-shadow: 0 0 4px #4973ff;
}
.contact-check-label:active::before {
  background-color: rgba(73, 115, 255, 0.2);
  -webkit-box-shadow: none;
          box-shadow: none;
}
.contact-check-input {
  display: none;
}
.contact-check-input :checked + .contact-check-label::after {
  display: block;
}

input[type=checkbox]:checked + .contact-check-label::after {
  opacity: 1;
}

.contact-btn {
  margin-top: 40px;
}
@media (max-width: 767px) {
  .contact-btn {
    margin-top: 27px;
    text-align: center;
  }
}
.contact-btn button {
  padding: 11px 50px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 10px;
}
.contact-btn button:disabled {
  background: #b2b2b2;
}

.contact-submit-message {
  text-align: center;
  padding: 60px 0;
  display: none;
  font-weight: bold;
  font-size: 20px;
}
.contact-submit-message.-error {
  color: red;
}

/* ===============================================
# footer
=============================================== */
footer {
  background: #3e3e3e;
  padding: 52px 40px;
}
@media (max-width: 767px) {
  footer {
    padding: 48px 0;
  }
}

.footer-inner {
  max-width: 960px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
}
@media (max-width: 767px) {
  .footer-inner {
    display: block;
    text-align: center;
  }
}

.footer-sns-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 767px) {
  .footer-sns-list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.footer-sns-item + .footer-sns-item {
  margin-left: 50px;
}
.footer-sns-item a {
  color: #fff;
  opacity: 0.6;
  font-size: 38px;
}

.footer-left-list {
  margin-top: 27px;
  font-size: 14px;
}

.footer-list-link {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.footer-list-link + .footer-list-link {
  margin-top: 19px;
}
.footer-list-link a {
  color: #fff;
}

.footer-right {
  margin-left: auto;
  text-align: right;
}
@media (max-width: 767px) {
  .footer-right {
    text-align: center;
    margin: auto;
  }
}

.footer-ttl {
  font-size: 40px;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.8px;
}
@media (max-width: 767px) {
  .footer-ttl {
    margin-top: 37px;
    font-size: 32px;
  }
}

.footer-text {
  font-size: 12px;
  opacity: 0.6;
}
@media (max-width: 767px) {
  .footer-text {
    margin-top: 2px;
    letter-spacing: 1px;
  }
}

/* ===============================================
# to-top
=============================================== */
.to-top {
  position: fixed;
  bottom: 42px;
  right: 42px;
  width: 50px;
  height: 50px;
  background: #e3e3e3 url(../img/totop.svg) no-repeat center center/contain;
  z-index: 10;
  border: 1px solid #3e3e3e;
  opacity: 0;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
@media (max-width: 767px) {
  .to-top {
    bottom: 16px;
    right: 16px;
  }
}
.to-top.is-show {
  opacity: 1;
  visibility: visible;
}
.to-top:hover {
  opacity: 0.7;
  cursor: pointer;
}